{% extends "base.html" %}
{% block content %}

<div class="box">
	<h1>Registrar-se</h1>
    <form action="{{ url_for('register') }}" method="post">
    	<input type="text" name="name" placeholder="Name" required="required" />
		<input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Me inscreva.</button>
    </form>
</div>

{% endblock %}