<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AneDeboleto</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Blog pessoal</h1></div>
    </div>

    <div class="content">
        <div class="card ">
            <h2>Lei da Atração</h2>
            <p>Lei da atração nada mais é do que semelhante atrair semelhante.
Por ser uma Lei, está sempre acontecendo com quem quer que seja e atrai tanto as coisas positivas quanto as negativas. Se você é uma pessoa alegre, de bem com a vida, emana positividade, você atrairá mais dessa energia. Se você for uma pessoa que está sempre triste, reclama de tudo, raramente se sente bem, atrairá mais situações que te deixe assim.

Quando você entende que a sua vida é criada por você mesmo, que as coisas que te acontecem foram porque você as atraiu, você se torna capaz de usar a Lei da Atração a seu favor. Isso é possível mudando os seus pensamentos e sentimentos para manifestar os seus sonhos em uma nova realidade, para criar a vida que você deseja.

Se você não sabe por onde começar para ativar esse seu poder de forma positiva e comunicar ao Universo o que você quer, é só acompanhar os passos a seguir e colocá-los em prática agora mesmo!

Quanto maior o comprometimento, a disciplina e o foco, mais rápido os resultados começarão a dar sinais.</p>
            <a href="{{ url_for('show_post', index=post.id) }}">Leia mais</a>
        </div>

    </div>

</div>
</body>
<footer>
    <p>♥ Ane Deboleto/2021</p>
</footer>
</html>