<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ane Deboleto</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Blog Pessoal</h1></div>
    </div>
    <div class="content">
        <div class="card">
            <h1>A lei da atração</h1>
            <h2>O poder de suas palavras e ações:</h2>
            <p>1 – Tranquilize a sua mente.
Quando os pensamentos estão agitados na sua cabeça, o Universo não entende exatamente o que você quer e não consegue te enviar o que precisa. Por exemplo, você quer ter muito dinheiro, mas ao mesmo tempo pensa o quanto de dívidas tem. Esses pensamentos contraditórios desgastam a sua energia e enviam vibrações confusas. É preciso relaxar, ter um momento de sossego para que os seus pensamentos possam se alinhar.
<br>
2 – Decida exatamente o que quer e não tenha dúvidas.
Saiba o que quer o do jeito como quer, de preferência tenha o seu sonho o mais detalhado possível e acredite que é possível conseguir sua realização. Quando o objetivo está bem definido, sua vibração será clara e o Universo conseguirá trazer o que você quer.
<br>
3 – Comunique o seu desejo ao Universo.
Fale, peça! As energias estão em comunicação com você o tempo todo, por isso é importante você ser claro e direcionar o seu pedido para o que você realmente quer manifestar. Diga claramente o que você espera do Universo.
<br>
4 – Descreva e visualize o seu sonho.
Escreva o seu sonho e use figuras também, isso ajuda a manter o foco no que você deseja e te sintonizar com as energias vibratórias do seu desejo. Assim, o processo de realização torna-se mais rápido, pois você se manterá frequentemente conectado à energia da Lei da Atração.
<br>
5 – Sinta o seu sonho.
São as sensações que você sente ao pensar no seu sonho que irá te conectar às vibrações necessárias para a realização. Quanto maior a sua energia, mais elevado você estará e atrairá mais coisas a seu favor.
<br>
6 – Gratidão, sinta-a verdadeiramente.
Quando você começa a se sentir grato pelas coisas em sua vida, você abre espaço para que mais positividade se aproxima e a realização do seu sonho venha até você. Perceba e valorize o que você tem, sejam bens materiais, sejam experiências de vida, sejam os seus relacionamentos. Tudo, sinta-se grato por tudo e procure enxergar o lado positivo de todas as coisas.
<br>
7 – Confie na energia do Universo.
Essa força maior está sempre em movimento agindo por você e para você, confie nisso. Quando os pensamentos e sentimentos estão bem direcionados e claros, há algo muito maior recebendo essa energia e trabalhando para a realização do seu desejo.
<br>
Saiba que você é capaz de criar a sua vida da forma como você quiser, transformar o que está acontecendo no momento, realizar os seus sonhos! Se estiver com um pé atrás se Lei da Atração funciona mesmo, teste! Desafie-se! Você não perderá nada colocando em prática os passos dados, na pior das hipóteses, você apenas continuará do mesmo jeito, sua vida continuará no mesmo ponto.

Quando se usa a Lei da Atração a seu favor, você começará a arrumar meios para realizar seus sonhos de forma prática e rápida. Os caminhos e soluções começarão a aparecer, serão atraídos pela sua vibração. Você pode transformar a sua realidade.</p>
        </div>
    </div>
</div>
</body>
<footer>
    <p>♥Ane Deboleto/2021</p>
</footer>
</html>