.produtos{
  margin: 30px 0;

  .produtos-container{
    margin: 30px 0;

    .produtos-itens{
      color: $cinza;
      h2{
        font-size: 19px;
        margin: 10px 0 0;
      }

      .produtos-stars{
        font-size: 10px;
        svg{
          fill: $amarelo;
        }
      }

      .produtos-preco{
        font-size: 16px;
      }
    }
  }
}