.produtos-compra{
  figure{
    margin: 0;
  }

  .produtos-conteudo{
    h1{
      margin: 0;
      font-size:32px;
    }

    p{
      font-size:16px;
    }
  }

  .produtos-preco{
    .produtos-stars{
      svg{
        fill: $amarelo;
      }
    }

    strong{
      font-size: 40px;
    }

    form{
      font-weight: 100;
      label{
        margin: 0;
      }
    }

    .produtos-stars svg, strong span, form{
      font-size: 16px;
    }
  }

}