//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

//Variaveis
@import "./variaveis.scss";

//Components
@import "./header.scss";
@import "./nav-produtos.scss";
@import "./banners-promocionais-statico.scss";
@import "./produtos.scss";
@import "./produtos-compra.scss";
@import "./footer.scss";
@import "./responsive.scss";

//Framework
@import "./bootstrap.scss";

//Components Bootstrap
@import "./breadcrumb.scss";

//Config
@import "./config.scss";
